@import '../../style/colours.scss';

.cardContainer {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  padding: 5px;
  

  .titleContainer {
    width: 100%; 
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: linear-gradient(to right bottom, $prettyPink, $darkerPrettyPink);
    border-radius: 5px 5px 0 0;

    button {
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    img {
      width: 12px;
      height: auto;
    }
  }

  .descriptionContainer {
    width: 100%; 
    padding: 10px;
    display: flex;
    background-color: $white;
    border-radius: 0 0 5px 5px;
  }
}