@import '../../style/colours.scss';

.phasesWrapper {
  width: 100vw; 
  height: 100%; 
  display: flex; 
  flex-direction: row; 

  .phaseContainer {
    width: calc(100%/7);
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    border-right: 1px solid $grey;
  }

  .unicorn {
    z-index: 50;
    position: fixed;
    bottom: -70px;
    left: 100px;
    visibility: hidden;
    transition: transform 3s linear;

    &.show {
      visibility: visible;
      transform: translateX(1400px);
    }
  }
}